.chatpage {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100vw;
  padding-right: 20px;
  scrollbar-width: none;
}

.chatlist {
  width: 30vw;
  overflow: hidden;
}

.chatwindow {
  width: 50vw;
  overflow: hidden;
}
